<launch>
    <!-- values passed by command line input -->
    <arg name="gui" default="False" />

    <!-- set these parameters on parameter server -->
    <param name="use_gui" value="$(arg gui)"/>
    <rosparam command="load" file="$(find machine_vision_bonus)/config/controllers.yaml" />

    <!-- include other necessary launch files -->
    <include file="$(find machine_vision_bonus)/launch/mvb_gazebo.launch" />

    <!-- start all necessary nodes -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find machine_vision_bonus)/config/machine_vision_bonus_rviz.rviz" required="true" />

</launch>