<launch>

    <arg name="world_name" value="$(find machine_vision_part2)/worlds/mvt.world" />
    <arg name="rviz_config" default="$(find machine_vision_part2)/config/mvt_rviz.rviz" />
    <rosparam command="load" file="$(find machine_vision_part2)/config/controllers.yaml"  />

    <!-- include other necessary launch files -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)" />
    </include>

    <!-- Spawn ddrobot -->
    <group ns="ddrobot">
        <param name="tf_prefix" value="ddrobot_tf" />
        <include file="$(find machine_vision_part2)/launch/mvt_spawn.launch">
            <arg name="model" value="ddrobot" />
            <arg name="init_pose" value="-x 0 -y 0 -z 0.1" />
        </include>
    </group>

    <!-- Spawn observerbot -->
    <group ns="observerbot">
        <param name="tf_prefix" value="observerbot_tf" />
        <include file="$(find machine_vision_part2)/launch/mvt_spawn.launch">
            <arg name="model" value="observerbot" />
            <arg name="init_pose" value="-x 0.6 -y -7.5 -z 0.1 -R 0 -P 0 -Y 1.6" />
        </include>
    </group>

    <node name="robot_path" pkg="machine_vision_part2" type="ddrobot_circular_motion.py" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" required="true" />
    
</launch>